<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD0EE2DE1D619F6300268D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD0EE2F71D619F6300268D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD0EE3021D619F6300268D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
